<div class="bg-body-secondary text-center py-5 rounded-2 shadow">
    <h1 class="display-6 fw-bold">Cadastrar Cartão de Crédito</h1>
</div>
<div class="row mt-5">
    <div class="col-6 bg-white p-4 rounded shadow" >
        <app-payment-detail-form/>
    </div>
    <div class="col-6">
       <ul class="list-group">
<li class="list-group-item d-flex justify-content-between align-items-start mb-2 border px-4 py-3 roudend-3" *ngFor="let pd of service.list">

    <div class="flex-grow-1 mouse-hover" (click)="populateForm(pd)">

        <div class="fw-bold">  {{pd.cardName}}</div>
        <div> {{pd.cardNumber}}</div>
        <div class="fw-bold text"> {{pd.experiationDate}}</div>
    </div>

    <span class="text-secondary">
        <i class="fa-solid fa-trash-can fa-lg mouse-hover" (click)="onDelete(pd.paymentDetailId)"></i>
    </span>


</li>
       </ul>
    </div>
</div>